@{ 
    ViewData["Title"] = "Registration";
}
    <div class="text-center">
        <h1 class="text-primary">Registration</h1>
        <br />
        <form action="RegisterUser" method="post">
            <label>Nickname</label>
            <input type="text" id="nickname" name="nickname" />&nbsp;
            <label>Email</label>
            <input type="text" id="email" name="email" />&nbsp;
            <label>Password</label>
            <input type="password" id="password" name="password" />
            <br />
            <button class="btn btn-primary">Register</button>
        </form>
    </div>